<div id="title">
    <h1>
        Top#タイトル
    </h1>
</div>

<div class="edi">
    <p>Find me in app/views/top/index.html.erb</p>
    </br>
    </br>
    </br>
    
</div>

<div id="text">
    <p>Edit me!</p>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
</div>
