<div id="title">
    <h1>
        Top#タイトル
    </h1>
</div>

<div id="edi">
    <p>Find me in app/views/top/index.html.erb</p>
    </br>
    </br>
    </br>
    
</div>

<div id="text">
    <p>Edit me!</p>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
</div>

<div id="post-content">
    <p>Edit me!</p>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
</div>

<div id="btn">
    <input type="button" id="btn" value="取得" />
</div>
    