<h1>hallo Blog</h1>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Day:</strong>
  <%= @blog.day %>
</p>

<p>
  <strong>Text:</strong>
  <%= @blog.text %>
</p>


<%= link_to 'Back', blogs_path %>
